.ipynb_checkpoints
__pycache__
.Trash-*
asia_new_bay-whisper-large-v2*
asia_new_bay_dataset_to_train
outputs
asia_new_bay_dataset_to_train.rar
asia_new_bay_dataset
frontend/package-lock.json
model_output/
training.log
training_state.json
.env
README_old_*
whisper-轉-fast.ipynb
訓練whisper-Lora.ipynb
資料前處理-訓練音檔上傳至minio.ipynb
README_old.md
UI_README.md
handler.py
